@model IEnumerable<Shop.Models.Product>
@{
    ViewData["Title"] = "Index Product";
}

<h3>Index Product</h3>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Description</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.Id">Details</a> |
                    <a asp-action="Update" asp-route-id="@product.Id">Update</a> |
                    <a asp-action="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Create">Create new product</a>